@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body
{
    background: linear-gradient(#321D56 0%, #F05051 50%, #FEA658 70%);
    height: 100vh;
    z-index: -100;
    overflow-x: hidden;
}

header
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "Jost", sans-serif;
    z-index: 10;
}

header .logo
{
    color: #FFECD4;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2em;
    letter-spacing: 2px;
}

header ul
{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 5vw;
}

header ul li
{
    list-style: none;
    margin-left: 20px;
}

header ul li a
{
    text-decoration: none;
    padding: 6px 10px;
    color: #FFECD4;
}

header ul li a:not(.active):hover
{
    background: #FFECD4;
    color: #321D56;
    border-radius: 15px;
}

.active
{
    position: relative;
    display: inline-block;
}

.active::after
{
    content: '';
    position: absolute;
    bottom: 5px;
    left: 10px;
    width: 14px;
    height: 2px;
    background-color: #EF4650;
    border-radius: 5px;
}

.Image
{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 100px;
    overflow-x: hidden;
}

.Image img
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.Image img#sun
{
    z-index: -5;
}

.Image img#nuages-1
{
    top: 25vh;
    left: -2vw;
    width: 30vw;
    height: auto;
    flex-shrink: 0;
    z-index: -4;
    opacity: 0.9;
}

.Image img#nuages-2
{
    top: 40vh;
    left: 78vw;
    width: 17vw;
    height: auto;
    flex-shrink: 0;
    opacity: 0.9;
}

.Image img#nuages-3
{
    top: 12vh;
    left: 70vw;
    width: 18vw;
    height: auto;
    flex-shrink: 0;
    opacity: 0.9;
}

.Image img#nuages-4
{
    top: 5vh;
    left: 30vw;
    width: 21vw;
    height: auto;
    flex-shrink: 0;
    opacity: 0.9;
}

.Image img#nuages-5
{
    top: 30vh;
    left: 50vw;
    width: 12vw;
    height: auto;
    flex-shrink: 0;
    opacity: 0.9;
}

.screen
{
    position: absolute;
    padding: 2vh 2vw;
    top: 15vh;
    left: 15vw;
    width: 40vw;
    height: 43vh;
    flex-shrink: 0;
    background-color: #ffecd4;
    border-width: 10px 10px 15px 10px;
    border-style: solid;
    border-color: #222831;
    z-index: 3;
}

.screen h1
{
    font-size: 3rem;
    font-family: 'roboto', sans-serif;
    font-weight: 700;
    color: #222831;
}

.screen p
{
    font-family: 'jost', sans-serif;
    padding-top: 2vh;
    font-size: 1rem;
    font-weight: 400;
}

.screen-foot
{
    position: absolute;
    bottom: -5vh;
    left: 50%;
    transform: translateX(-50%);
    width: 4vw;
    height: 5vh;
    background-color: #222831;
    z-index: 3;
}

.desk
{
    position: absolute;
    left: 9vw;
    width: 80vw;
    height: 7vh;
    bottom: -10vh;
    background-color: #402701;
    transform: perspective(10vh) rotateX(10deg);
    z-index: 1;
}

.desk::after
{
    content: '';
    position: absolute;
    left: 1.2vw;
    width: 100%;
    height: 3vh;
    bottom: -3vh;
    background-color: #1D1201;
    transform: perspective(10vh) rotateX(-10.5deg);
}

.desk-leg
{
    position: absolute;
    left: 12vw;
    top: 44vh;
    width: 2vw;
    height: 39.8vh;
    background-color: #0C0700;
}

.bas
{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 18vh;
    background-color: #402701;
}

.eclats
{
    height: 100vh;
    width: 100%;
    background-color: #FECC8E;
}

.eclats h2
{
    color: #FFECD4;
}

.forme1
{
    height: 80vh;
    width: auto;
}